@font-face {
	font-family: 'Quicksand';
	src: url(../font/quicksand.otf);
}

* {
	box-sizing: border-box;
}

a,
a:hover,
a:focus {
	text-decoration: none;
}

html,
body {
	font-family: 'Quicksand';
	height: 100%;
	margin: 0;
	background-image: url(../img/blue_background.jpg);
}

body {
	text-align: center;
}

ul {
	background-color: #000B1C;
	color: #fff;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	-webkit-padding-start: 0;
	margin: 0;
	font-size: 0;
}

ul li {
	display: inline-block;
	border: 1px solid #ccc;
	width: 3.84615384615%;
	font-size: 3vw;
	position: relative;
}

ul li:after {
	content: '';
	padding-top: 100%;
	display: block;
}

ul li span {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

ul.second {
	background-color: #fff;
	color: #000B1C;
	transform: rotate(180deg);
	bottom: 0;
	top: initial;
}

ul.second li {
	transform: rotate(180deg);
}

.message-box {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	padding: 20px 20px 0;
	background-color: #fff;
}

.message-box .logo {
	margin: -70px auto 0;
}

.message-box input {
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #ccc;
	font-size: 20px;
	color: #555;
	line-height: 1.5;
	margin: 10px 0;
}

.message-box input:focus {
	outline: 0;
}

#answer {
	color: #222;
	font-size: 20px;
	min-height: 50px;
	text-align: left;
	overflow: auto;
}

.label {
	display: inline-block;
	background: #fff;
	height: 40px;
	border-radius: 20px;
	position: relative;
	line-height: 40px;
	padding: 0 50px;
	color: #222;
	font-size: 22px;
	text-align: center;
	text-decoration: none;
	width: 80%;
	margin: 10px 0;
}

.label img {
	width: 30px;
	position: absolute;
	left: 5px;
	top: 5px;
	transition: all 1s;
	z-index: 2;
}

.label:hover img {
	left: calc(100% - 35px);
}

header {
	text-align: center;
	background-color: #000B1C;
	margin-bottom: 30px;
}

.col {
	width: 50%;
	float: left;
}